%bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

// -------------------------------------- btn
%button {
	display: block;
	border-radius: 18px;
	background: $main-btn;
	color: $white-clr;
	text-align: center;
	font-size: $fz-sm + px;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: 0.44px;
	padding: 26px;

	width: 100%;

	box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
	transition: all 0.3s linear;

	// картинка якщо є
	&::after {
		content: url('../img/page.svg');
		position: relative;
		top: 2px;
		padding-left: 4px;
	}

	&:hover,
	&:focus {
		background-color: $hover-btn;
		box-shadow: 0px 10px 7px 0px rgba(78, 77, 77, 0.35);
	}

	&:active {
		background: $active-btn;
		box-shadow: 0px 10px 20px 0px rgb(31, 32, 34);

		&::after {
			content: url('../img/page-black.svg');
			position: relative;
			top: 2px;
			padding-left: 4px;
		}
	}
}

%button-accent {
	display: block;
	border-radius: 18px;
	background: $accent-btn;
	color: $white-clr;
	text-align: center;
	font-size: $fz-sm + px;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: 0.44px;
	padding: 26px;

	width: 100%;

	box-shadow: 0px 10px 20px 0px rgb(31, 32, 34);
	transition: all 0.3s linear;

	// картинка якщо є
	&::after {
		content: url('../img/page-black.svg');
		position: relative;
		top: 2px;
		padding-left: 4px;
	}

	&:hover,
	&:focus {
		background-color: #d6b189;
	}

	&:active {
		background-color: $black-bg;
		color: $white-clr;
		box-shadow: 0px 10px 20px 10px rgba(192, 192, 192, 0.35);

		&::after {
			content: url('../img/page.svg');
		}
	}
}

// --------------------------------------- link`s
%link {
	transition: all 0.3s ease-in;

	&:hover {
		color: $active-clr;
	}

	&:focus {
		color: $active-clr;
		border-bottom: 2px solid $active-clr;
	}

	&:active {
		opacity: 0.6;
	}
}

%link-mob {
	transition: all 0.3s ease-in;

	&:hover {
		color: $active-clr;
	}

	&:focus {
		color: $active-clr;
		text-shadow: 1px 1px 3px #000;
	}

	&:active {
		opacity: 0.6;
	}
}

%icon {
	transition: color 0.3s ease-in;
	padding-bottom: 3px;

	&:hover {
		color: $accent-clr;
	}

	&:active {
		border-bottom: 1.5px solid $accent-clr;
	}
}
