// --------------------------------------- link`s
%link {
	transition: all 0.3s ease-in;

	&:hover {
		color: $active-clr;
	}

	&:focus {
		color: $active-clr;
		border-bottom: 2px solid $active-clr;
	}

	&:active {
		opacity: 0.6;
	}
}

%link-mob {
	transition: all 0.3s ease-in;

	&:hover {
		color: $active-clr;
	}

	&:focus {
		color: $active-clr;
		text-shadow: 1px 1px 3px #000;
	}

	&:active {
		opacity: 0.6;
	}
}
