<footer class="footer" id="footer">
	<div class="container">
		<div class="footer-content">
			<div class="footer-nav">
				<div class="footer-logo">
					<a class="footer__logo_link" href="/index.html">
						<img
							class="footer__logo_img"
							src="./img/sushi.svg"
							alt="Logo"
							width="42"
						/>
					</a>
				</div>
				<ul class="footer-menu">
					<li class="footer-list">
						<a href="/index.html" class="footer-link"> ГЛАВНА </a>
					</li>
					<li class="footer-list">
						<a href="#!" class="footer-link"> МЕНЮ </a>
					</li>
					<li class="footer-list">
						<a href="#footer" class="footer-link"> О НАС </a>
					</li>
					<li class="footer-list">
						<a href="tel:+9998887654" class="footer-link"> ДОСТАВКА </a>
					</li>
				</ul>
			</div>
			<address class="footer-address">
				<div class="footer-address-link">
					<a href="tel:+9998887654" class="footer-tel">
						<span class="footer-tel_span">Tel:</span> +999-888-76-54
					</a>
					<a href="mail:toour-restaurant@gmail.com" class="footer-email">
						<span class="footer-email_span">Email:</span>
						our-restaurant@gmail.com
					</a>
				</div>
				<div class="footer-address-location">
					<p class="footer-text">
						м. Київ<br />
						вул. Незалежності 88 <br />
						пн-вс 10:00-22:00
					</p>
				</div>
			</address>
		</div>
	</div>
</footer>
