<header class="header">
	<div class="container">
		<div class="header__row">
			<button id="menuMobile-btn" class="header__menu-mobile-btn">
				<div id="mobileMenu-icon" class="header__menu-mobile-icon"></div>
			</button>
			<div class="header__logo">
				<img
					class="header__logo-img"
					src="./img/sushi.svg"
					alt="logo"
					width="42"
				/>
				<span class="header__logo-text">Rolls</span>
			</div>
			<ul class="header__list">
				<li>
					<a class="header__link" href="#!" class="header--active">Головна</a>
				</li>
				<li><a class="header__link" href="#!">Доставка та оплата</a></li>
				<li><a class="header__link" href="#!">Відгуки</a></li>
				<li><a class="header__link" href="#!">Контакти</a></li>
			</ul>
			<a class="header__cart" href="#!" id="cart-icon">
				<i class="header__cart-img"> @@include('svg/cart.html') </i>
				<span class="header__cart-number" id="cart-number">0</span>
				<div class="header__cart-block" id="header-cart"></div>
			</a>
		</div>
	</div>
</header>

@@include('./templates/menu-mobile.html')
