<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Web setting -->
<title>Магазин роллів</title>
<meta
	name="description"
	content="
Запрошуємо вас до нашого інтернет-магазину ролів! У нас ви знайдете широкий вибір свіжих та смачних ролів з різноманітними начинками. Ми гордимося якістю наших продуктів та швидкою доставкою прямо до вашого дому. Замовляйте зараз і насолоджуйтесь улюбленими стравами японської кухні разом з нами!"
/>
<link rel="shortcut icon" href="./img/sushi.svg" type="image/png" />

<!-- Styles -->
<link rel="stylesheet" href="./css/main.css" />
