<!-- Slider main container -->
<div class="swiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div
			class="swiper-slide"
			style="
				background-image: url(./img/slider1.jpg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			"
		></div>
		<div
			class="swiper-slide"
			style="
				background-image: url(./img/slider2.jpg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			"
		></div>
		<div
			class="swiper-slide"
			style="
				background-image: url(./img/slider3.jpg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			"
		></div>
		<div
			class="swiper-slide"
			style="
				background-image: url(./img/slider4.jpg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			"
		></div>
	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
</div>
